<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input)="onChangeLength($event.target.value)" type="text">
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUse('letters')" type="checkbox">
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUse('numbers')" type="checkbox">
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUse('symbols')" type="checkbox">
</div>

<div>
  <button
    [disabled]="!(options.length && (options.useSymbols || options.useNumbers || options.useLetters))"
    (click)="onButtonClick()">
      Generate!
  </button>
</div>
<div>
  <label>Your Password</label>
  <input [value]="password"/>
</div>
